info-banner {
    section {
        height: 400px;
        background-color: white;
        color: #858585;

        .logos {

            margin-top: 30px;

            .info-logos {
              background: url("../assets/images/logos.png") no-repeat;
              height: 250px;
            }

        }
    }
}